page-home {
ion-card-content div {
  display: inline-block;
  width: 20%;
}

.item-checkbox {
  display: inline;
}

.item-checkbox .item-inner {
  display: none;
}

.item.item-md .checkbox-md {
  display: inline-block;
}

.checkbox-md .checkbox-icon {
  position: absolute;
  top: 2px;
}
}
