// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #007faa,
  secondary:  #40806a,
  danger:     #dc143c,
  light:      #f9f9f9,
  dark:       #545454
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
	// Used for most of the app
	@import "roboto";
	@import "noto-sans";

	// Used for headers & toolbar title
	@font-face {
		font-family: 'Champagne-Bold';
		font-style: normal;
		font-weight: 900;
		src: url('../assets/fonts/Champagne-Bold.ttf');
	}

	.toolbar-title-md {
		font-family: "Champagne-Bold";
		font-size: 2.5rem !important;
	}

	@for $i from 1 through 6 {
		h#{$i} {
			font-family: "Champagne-Bold";
		}
	}

// Margins
// --------------------------------------------------
// Create a margin around the entire main area
    .scroll-content {
		padding: 16px;
	}

// Align
// --------------------------------------------------
	.alignright {
		text-align: right !important;
	}
	.alignleft {
		text-align: left !important;
	}

// Breakpoints
// --------------------------------------------------
// Both :root and $grid-breakpoints are needed for the iPhone5
// compatibility fix.
:root {
	--grid-breakpoint-xs: 0;
	--grid-breakpoint-sm: 515px; // Changing sm for iPhone5 compatibility
	--grid-breakpoint-md: 768px;
	--grid-breakpoint-lg: 992px;
	--grid-breakpoint-xl: 1200px;
}

$grid-breakpoints: (
  xs: 0,
  sm: 515px, // Changing sm for iPhone5 compatibility
  md: 768px,
  lg: 992px,
  xl: 1200px
);
